<!doctype html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-KyZXEAg3QhqLMpG8r+8fhAXLRk2vvoC2f3B09zVXn8CA5QIVfZOJ3BCsw2P0p/We" crossorigin="anonymous">
    <title>Recipe Main Page</title>
</head>

<body>
    <header class="container-fluid">
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <div class="container-fluid">
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbar"
                    aria-controls="navbar" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <a class="navbar-brand" href="#">My Little Recipes</a>
                <div class="collapse navbar-collapse" id="navbar">
                    <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                        <li class="nav-item">
                            <a class="nav-link" href="/">View Recipes</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/account">Account</a>
                        </li>
                    </ul>
                    {{#unless loggedIn}}
                    <form class="d-flex" id="loginForm">
                        <input class="form-control me-2" type="text" placeholder="Username" aria-label="username" id="userInfo">
                        <input class="form-control me-2" type="password" placeholder="Password" aria-label="password" id="userPassword">
                        <button class="btn btn-outline-success" type="submit">Login</button>
                    </form>
                    <button class="btn btn-outline-success me-2" type="button" id="signupBtn">Sign up</button>
                    {{/unless}}
                    {{#if loggedIn}}
                    <button class="btn btn-warning" type="button" id="logout">Logout</button>
                    {{/if}}
                </div>
            </div>
        </nav>
    </header>
    <div>
        <main>
            {{{ body }}}
        </main>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-U1DAWAznBHeqEIlVSCgzq+c9gqGAJn5c/t99JyeKa9xxaYpSvHU5awsuZVVFIhvj"
        crossorigin="anonymous"></script>
    {{#unless loggedIn}}
    <script src="./js/login.js"></script>
    {{/unless}}
    {{#if loggedIn}}
    <script src="./js/logout.js"></script>
    {{/if}}
</body>

</html>