<div class="row">
    <div class="col">
        <div class="card m-2">
            <p>You can add a recipe from another website. Just enter the link of the recipe's page and the
                website will show the data below and you can edit it as you see fit before submitting it.</p>
            <form class="m-2">
                <div class="form-group m-2" id="recipeForm">
                    <label for="addRecipe">Link for Recipe</label>
                    <input type="text" class="form-control" id="recipeLink" placeholder="https://example.com">
                </div>
                <button class="btn btn-primary m-2" type="submit" class="btn btn-primary">Add Recipe</button>
            </form>
        </div>
    </div>
</div>
<div class="row">
    
</div>
